doctype html
html(lang="en").has-navbar-fixed-top
    head
        title TTCDcoin - #{pageTitle}
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css")        
        script(src="https://use.fontawesome.com/releases/v5.0.0/js/all.js", defer)        
        style(type='text/css').
            /* Tooltip container */
            .tooltip {
                position: relative;                                
            }

            /* Tooltip text */
            .tooltip .tooltiptext {
                visibility: hidden;                
                background-color: black;
                color: #fff;
                text-align: center;
                padding: 5px;
                border-radius: 6px;
                top: -5px;
                left: 105%;   
                word-break: normal;
            
                /* Position the tooltip text - see examples below! */
                position: absolute;
                z-index: 1;
            }

            /* Show the tooltip text when you mouse over the tooltip container */
            .tooltip:hover .tooltiptext {
                visibility: visible;
            }
    body
        nav.navbar.is-fixed-top.is-dark
            .container
                .navbar-menu.is-active
                    .navbar-brand
                        a.navbar-item.title.is-2.has-text-white(href="/home", class=`${pageTitle=='Home' ? 'is-active' : ''}`) TTCDcoin

        block content
            section.hero.is-medium.is-white.is-bold
                .hero-body
                    center
                        .section
                            a.title.is-1.notification.is-primary.has-text-centered.has-text-white TTCDcoin API
                        .sections
                            .buttons.has-addons.is-centered
                                a.button.is-large.is-primary.is-rounded(href="/blockchain") Block Chain
                                a.button.is-large.is-danger.is-rounded(href="/wallet/login") Wallet
                                a.button.is-large.is-success.is-rounded(href='/smartcontract') Smart Contract
                                a.button.is-large.is-warning.is-rounded(href="/node/peers") Connect Node